apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config-2024mt03553
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
    scrape_configs:
      - job_name: 'flask_app'
        metrics_path: /metrics
        static_configs:
          - targets: ['svc-2024mt03553:8000']
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-2024mt03553
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-2024mt03553
  template:
    metadata:
      labels:
        app: prometheus-2024mt03553
    spec:
      containers:
      - name: prometheus
        image: prom/prometheus
        args:
          - "--config.file=/etc/prometheus/prometheus.yml"
        ports:
        - containerPort: 9090
        volumeMounts:
        - name: prometheus-config
          mountPath: /etc/prometheus/
      volumes:
      - name: prometheus-config
        configMap:
          name: prometheus-config-2024mt03553
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service-2024mt03553
spec:
  type: NodePort
  selector:
    app: prometheus-2024mt03553
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30090
